body{
  font-size: 14px;
}

nav {
  background-color: yellow;
  height: 100px;
  margin-top: -110px; /*Edited to -110 from -10 so nav appears above section*/
  position: fixed;
  width: 100%;
}

section {
  margin: 100px auto 0px; /* from "0 auto" so divs are below the nav*/
  width: 60%;
}

h1 {
  font-family: sans-serif;
  font-size: 2em;
}

.example, h3 {
  padding-top: 30px;
  text-align: center;
}

h3 {
  font-size: 1.3em;
}

.element {
  background-color: green;
  height: 100px;
  margin: 10px 0px;
  width: 100%;
}
/* Specifies a red background color for all divs after the 6th one
 * Happens to be the last three (of 9 divs) in this exercise
 */
.element:nth-child(n+7){
  background-color: red;
}

/*.special {
  background-color: red
}*/
